<div class="page-header">
  <h1>Share Library</h1>
</div>

<%= form_errors!(@version) %>

<%= form_for(@version, :as => :version, :url => vendors_path) do |f| %>

  <fieldset>

    <div class="clearfix">
      <%= f.label :package %>
      <div class="input">
        <%= f.file_field :package %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Upload", :class => "btn primary" %>
    </div>

  </fieldset>

<% end %>
