<!DOCTYPE html>
<html>
<head>
  <title>VendorKit</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="/">VendorKit</a>
        <ul class="nav">
          <li class="<%= controller_name == 'pages' ? "active" : "" %>"><%= link_to "Home", :root %></li>
          <li class="<%= controller_name == 'vendors' && action_name =~ /(index|show)/ ? "active" : "" %>"><%= link_to "Libraries", vendors_path %></li>
          <% if user_signed_in? %>
            <li class="<%= controller_name == 'vendors' && action_name =~ /(new|create)/ ? "active" : "" %>"><%= link_to "Share", new_vendor_path %></li>
            <li class="<%= controller_name == 'registrations' ? "active" : "" %>"><%= link_to "Settings", edit_user_registration_path %></li>
          <% else %>
            <li class="<%= controller_name == 'registrations' ? "active" : "" %>"><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
        <div class="nav-right">
          <% if user_signed_in? %>
            <ul class="nav">
              <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
            </ul>
          <% else %>
            <%= form_tag user_session_path do |f| %>
              <input class="input-small" type="text" name="user[login]" placeholder="Login">
              <input class="input-small" type="password" name="user[password]" placeholder="Password">
              <button class="btn" type="submit">Sign in</button>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="main container">
    <div class="content">
      <% flash.each do |key, message| %>
        <div class="alert-message <%= key == :alert ? "error" : "success" %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      Made by <a href="http://www.twitter.com/keithpitt">@keithpitt</a>
      | Follow <a href="http://www.twitter.com/vendorkit">@vendorkit</a> on Twitter!
      | Grab the <a href="https://github.com/keithpitt/vendor">source code</a> on GitHub
    </div>
  </footer>

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
     var t   = document.createElement('script');
     t.type  = 'text/javascript';
     t.async = true;
     t.id    = 'gauges-tracker';
     t.setAttribute('data-site-id', '4eb894cef5a1f52b9a000005');
     t.src = '//secure.gaug.es/track.js';
     var s = document.getElementsByTagName('script')[0];
     s.parentNode.insertBefore(t, s);
     })();
  </script>

</body>
</html>
